AWS_ACCESS_KEY_ID = AKIAYourAccessKeyID
AWS_SECRET_ACCESS_KEY = YourSecretAccessKey
CIDR_BLOCK = 10.0.0.0/16
VPC_NAME = MyVPC
SUBNET_CIDR = 10.0.0.0/24
AVAILABILITY_ZONE = us-west-1a
TAG_NAME = MyTag
REGION = us-west-2
